
<div class="w3-row">
  <div class="w3-col s12">
    <div data-value="pct"></div>
  </div>
</div>
<!-- <header>
  <div>Memory</div>
  <div data-value="pctBar"></div>
</header> -->
<div class="stats">
  <div class="w3-row">
    <div class="w3-col s6">
      <div class="key">Total</div>
      <div data-value="total"></div>
    </div>
    <div class="w3-col s6">
      <div class="key">Free</div>
      <div data-value="free"></div>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-col s6">
      <div class="key">Available</div>
      <div data-value="available"></div>
    </div>
    <div class="w3-col s6">
      <div class="key">Usage</div>
      <div data-value="usage"></div>
    </div>
  </div>
</div>
