<!-- Modals -->
<div id="modal-image-inspect" class="w3-modal">
 <div class="w3-modal-content">

   <header class="w3-bar">
     <span class="title"></span>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </header>

   <div class="modal-body">
     <div class="modal-body-content"></div>
   </div>

   <footer class="w3-bar">
     <button class="btn btn2 left" data-fn="copyToClipboard"><span class="icn left material-icons md-18">refresh</span><span class="content">Refresh</span></button>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </footer>

 </div>
</div>

<div id="modal-volume-inspect" class="w3-modal">
 <div class="w3-modal-content">

   <header class="w3-bar">
     <span class="title"></span>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </header>

   <div class="modal-body">
     <div class="modal-body-content"></div>
   </div>

   <footer class="w3-bar">
     <button class="btn btn2 left" data-fn="copyToClipboard"><span class="icn left material-icons md-18">refresh</span><span class="content">Refresh</span></button>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </footer>

 </div>
</div>

<!-- Modals -->
<div id="modal-container-log" class="w3-modal">
 <div class="w3-modal-content">

   <header class="w3-bar">
     <span class="title"></span>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </header>

   <div class="modal-body">
     <div class="modal-body-content"></div>
   </div>

   <footer class="w3-bar">
     <button class="btn btn2 left" data-fn="copyToClipboard"><span class="icn left material-icons md-18">content_copy</span><span class="content">Copy</span></button>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </footer>

 </div>
</div>

<div id="modal-container-top" class="w3-modal">
 <div class="w3-modal-content">

   <header class="w3-bar">
     <span class="title"></span>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </header>

   <div class="modal-body">
     <div class="modal-body-content">
       <div id="table-container-top"></div>
     </div>

   </div>

   <footer class="w3-bar">
     <button class="btn btn2 left" data-fn="copyToClipboard"><span class="icn left material-icons md-18">refresh</span><span class="content">Refresh</span></button>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </footer>

 </div>
</div>

<div id="modal-container-inspect" class="w3-modal">
 <div class="w3-modal-content">

   <header class="w3-bar">
     <span class="title"></span>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </header>

   <div class="modal-body">
     <div class="modal-body-content"></div>
   </div>

   <footer class="w3-bar">
     <button class="btn btn2 left" data-fn="copyToClipboard"><span class="icn left material-icons md-18">refresh</span><span class="content">Refresh</span></button>
     <button class="btn btn4 right" data-fn="closeModal"><span class="icn left material-icons md-18">clear</span><span class="content">Close</span></button>
   </footer>

 </div>
</div>
