<div class="agent-wrap" data-agentId="{{ agent['id'] }}">
  <!-- Host Details -->
  <div class="w3-row">
    <div class="w3-col l3 m6 s12 mod-wrap" data-mod="hostDetails">
      <div class="mod-header">
        <span class="title">{{ agent['name'] }}</span>
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
      </div>
      <div class="mod-content">{% include 'hostDetails.html' %}</div>
    </div>

    <div class="w3-col l3 m6 s12 mod-wrap" data-mod="hostCpu">
      <div class="mod-header" >
        <span class="title">CPU Load</span>
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
        <div data-value="pctBar"></div>
        <div class="badge right"><span data-value="pct"></span></div>
      </div>
      <div class="mod-content" >{% include 'hostCpu.html' %}</div>
    </div>

    <div class="w3-col l3 m6 s12 mod-wrap" data-mod="hostMemory">
      <div class="mod-header">
        Memory Usage
        <div data-value="pctBar"></div>
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
        <div class="badge right"><span data-value="pct"></span></div>
      </div>
      <div class="mod-content">{% include 'hostMemory.html' %}</div>
    </div>

    <div class="w3-col l3 m6 s12 mod-wrap" data-mod="hostStorage">
      <div class="mod-header">
        Storage Usage
        <div data-value="pctBar"></div>
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
        <div class="badge right"><span data-value="pct"></span></div>
      </div>
      <div class="mod-content">{% include 'hostStorage.html' %}</div>
    </div>
  </div>

  <!-- Images & Volumes-->
  <div class="w3-row">
    <div class="w3-col l6 m12 s12 mod-wrap" data-mod="images">
      <div class="mod-header">
        Images
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
        <div class="badge right" data-type="pause"><span>Paused</span></div>
        <div class="badge right"><span data-value="total"></span></div>
      </div>
      <div class="mod-content" >{% include 'images.html' %}</div>
    </div>

    <div class="w3-col l6 m12 s12 mod-wrap"  data-mod="volumes">
      <div class="mod-header">
        Volumes
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
        <div class="badge right" data-type="pause"><span>Paused</span></div>
        <div class="badge right"><span data-value="total"></span></div>
      </div>
      <div class="mod-content">{% include 'volumes.html' %}</div>
    </div>
  </div>

  <!--  Containers -->
  <div class="w3-row">
    <div class="w3-col s12 mod-wrap" data-mod="containers">
      <div class="mod-header">
        Containers
        <div class="badge right icon" data-type="collapse"><span class="icn left material-icons md-18"></span></div>
        <div class="badge right" data-type="pause"><span>Paused</span></div>
        <div class="badge right"><span data-value="running"></span><span data-value="healthy"></span><span data-value="unhealthy"></span><span data-value="exited"></span><span data-value="starting"></span><span data-value="total"></span></div>
      </div>
      <div class="mod-content" >{% include 'containers.html' %}</div>
    </div>
  </div>
</div> <!-- Host Wrap -->
