<div class="mod" data-mod="containers">
  <header data-header="mod">
    <div class="header-title">Containers</div>
    <div class="header-controls">
      <div class="badge">
        <span class="str" data-value="total" title="Total Containers"></span>
        <span class="str" data-value="running" title="Running Containers"></span>
        <span class="str" data-value="exited" title="Exited Containers"></span>
        <span class="str" data-value="starting" title="Starting Containers"></span>
        <span class="str" data-value="healthy" title="Healthy Containers"></span>
        <span class="str" data-value="unhealthy" title="Unhealthy Containers"></span>
      </div>
      <button class="btn1" data-fn="togglePause"><span class="icn md-18"></span></button>
      <button class="btn1 icn" data-fn="toggleCollapse"><span class="icn md-24"></span></button>
    </div>
  </header>
  <section>
    <div class="placeholder-msg"></div>
    <div data-table="containers"></div>
  </section>
  <footer>
    <div class="footer-controls">
      <input data-fn="filterTable" name="filter" placeholder="Filter"></input>
      <button class="btn1 cBlue" data-fn="previousPage" title="Previous Page"><span class="icn md-18">navigate_before</span></button>
      <div class="badge str">
        <span data-value="currentPage" title="Current Page"></span>
      </div>
      <button class="btn1 cBlue" data-fn="nextPage" title="Next Page"><span class="icn md-18">navigate_next</span></button>
    </div>
    <div class="footer-controls">
      <button class="btn1 cBlue" data-fn="containerStop" title="Stop Container"><span class="icn md-18">stop</span></button>
      <button class="btn1 cBlue" data-fn="containerStart" title="Start Container"><span class="icn md-18">play_arrow</span></button>
      <button class="btn1 cBlue" data-fn="containerRestart" title="Restart Container"><span class="icn md-18">refresh</span></button>
      <button class="btn1 cGreen" data-fn="containerLog" title="View Container Log"><span class="icn md-18">assignment</span></button>
      <!-- <button class="btn1 cGreen" data-fn="containerTop" title="View Container Top"><span class="icn md-18">equalizer</span></button> -->
      <button class="btn1 cGreen" data-fn="containerInspect" title="Inspect Container"><span class="icn md-18">search</span></button>
      <!-- <button class="btn1 cRed" data-fn="containerRemove" title="Remove Container"><span class="icn md-18">clear</span></button> -->
    </div>
  </footer>
</div>
