<meta charset="UTF-8">
<title>DKRMON</title>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/plugs/tabulator/tabulator.min.js"></script>
<link href="/static/plugs/tabulator/tabulator.min.css" rel="stylesheet">

<link rel="stylesheet" href="/static/style/w3.css">

<link rel="stylesheet" href="/static/plugs/scrollbar/jquery.mCustomScrollbar.min.css" />
<script src="/static/plugs/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript" src="/static/js/socket.io.min.js"></script>

<script type="text/javascript" src="/static/js/main.js"></script>
<link rel="stylesheet" href="/static/style/main.css">
