<div class="mod" data-mod="hostMemory">
  <header data-header="mod">
    <div class="header-title">Memory</div>
    <div class="header-controls">
      <div class="badge str cRed" data-badge="pct">
        <span data-value="pct">78%</span>
      </div>
      <button class="btn1" data-fn="toggleCollapse" title="Toggle Collapse"><span class="icn md-24"></span></button>
    </div>
  </header>
  <section>
    <div class="submod">
      <span class="value" data-value="pct">78%</span>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Total</div>
        <div class="value" data-value="total">16824MB</div>
      </div>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Available</div>
        <div class="value" data-value="available">8047MB</div>
      </div>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Free</div>
        <div class="value" data-value="free">3024MB</div>
      </div>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Usage</div>
        <div class="value" data-value="usage">6048MB</div>
      </div>
    </div>
  </section>
</div>
