<div class="mod" data-mod="hostStats">

  <section>
    <div data-stat="cpu">
      <div class="stat-detail"><span class="key">CPU:</span><span class="value">0%</span></div>
      <div class="progress-bar-wrap">
        <div class="progress-bar"></div>
      </div>
    </div>

    <div data-stat="ram">
      <div class="stat-detail"><span class="key">RAM:</span><span class="value">0%</span></div>
      <div class="progress-bar-wrap">
        <div class="progress-bar"></div>
      </div>
    </div>

    <div data-stat="disk">
      <div class="stat-detail"><span class="key">DISK:</span><span class="value">0%</span></div>
      <div class="progress-bar-wrap">
        <div class="progress-bar"></div>
      </div>
    </div>
  </section>

</div>
