<div class="mod" data-mod="hostStorage">
  <header data-header="mod">
    <div class="header-title">Storage</div>
    <div class="header-controls">
      <div class="badge str cGreen" data-badge="pct">
        <span data-value="pct">32%</span>
      </div>
      <button class="btn1" data-fn="toggleCollapse" title="Toggle Collapse"><span class="icn md-24"></span></button>
    </div>
  </header>
  <section>
    <div class="submod">
      <span class="value" data-value="pct">32%</span>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Driver</div>
        <div class="value" data-value="driver">overlay2</div>
      </div>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Usage</div>
        <div class="value" data-value="usage">23030MB</div>
      </div>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Size</div>
        <div class="value" data-value="size">2048MB</div>
      </div>
    </div>
    <div class="submod">
      <div class="flex-wrap">
        <div class="key">Available</div>
        <div class="value" data-value="available">34034MB</div>
      </div>
    </div>
  </section>
</div>
