<div class="mod" data-mod="images">
  <header data-header="mod">
    <div class="header-title">Images</div>
    <div class="header-controls">
      <div class="badge str" data-badge="totals">
        <span data-value="total">
          <span data-value="total" title="Total Images"></span>
        </span>
      </div>
      <button class="btn1" data-fn="togglePause" title="Toggle Pause"><span class="icn md-18"></span></button>
      <button class="btn1 icn" data-fn="toggleCollapse" title="Toggle Collapse"><span class="icn md-24"></span></button>
    </div>
  </header>
  <section><div data-table="images"></div></section>
  <footer>
    <div class="footer-controls">
      <button class="btn1 str cBlue" title="Prune All Images"><span class="icn md-18">delete_sweep</span></button>
      <button class="btn1 str cGreen" title="Inspect Image"><span class="icn md-18">search</span></button>
      <button class="btn1 str cRed" title="Remove Image"><span class="icn md-18">clear</span></button>
    </div>
  </footer>
</div>
