<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DKRMON</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/style/main.css">
  </head>

  <body>
    {% include 'dashboard.html' %}
    <div id="notify"></div>
    <div id="spinner-wrap" class="spinner"></div>
    {% include 'modals.html' %}
  </body>
</html>
