
  <div class="modal" data-modal="dashboard-settings">
    <header>
      <div class="header-title">Dashboard Settings</div>
      <div class="header-controls">
        <button class="btn1 icn" data-fn="modalClose">clear</button>
      </div>
    </header>
    <section>
      Content
    </section>
    <footer>
      <div class="footer-controls">
        <button class="btn1 str cRed" data-fn="agentRemove">Remove</button>
        <button class="btn1 str cGreen" data-fn="agentAdd">Add</button>
        <button class="btn1 str cBlue" data-fn="dashboardSaveSettings">Save</button>
      </div>
    </footer>
  </div>

  <div class="modal" data-modal="containerLog">
    <header>
      <div class="header-title">Container Log</div>
      <div class="header-controls">
        <button class="btn1 icn" data-fn="modalClose">clear</button>
      </div>
    </header>
    <section>
      <div class="log"></div>
    </section>
    <footer>
      <div class="footer-controls">
        <button class="btn1 str cGreen" data-fn="refresh">Refresh</button>
        <button class="btn1 str cBlue" data-fn="modalClose">Close</button>
      </div>
    </footer>
  </div>

  <div class="modal" data-modal="containerInspect">
    <header>
      <div class="header-title">Container Details</div>
      <div class="header-controls">
        <button class="btn1 icn" data-fn="modalClose">clear</button>
      </div>
    </header>
    <section>
    </section>
    <footer>
      <div class="footer-controls">
        <button class="btn1 str cGreen" data-fn="refresh">Refresh</button>
        <button class="btn1 str cBlue" data-fn="modalClose">Close</button>
      </div>
    </footer>
  </div>
