<div class="modal" data-modal="containerLog">
  <header>
    <div class="header-title">Container Log</div>
    <div class="header-controls">
      <button class="btn1 icn" data-fn="modalClose">clear</button>
    </div>
  </header>
  <section>
    <div class="pre"></div>
  </section>
  <footer>
    <div class="footer-controls">
      <button class="btn1 cBlue" data-fn="refresh" title="Refresh"><span class="icn md-18">refresh</span></button>
      <button class="btn1 cBlue" data-fn="scrollTop" title="Top"><span class="icn md-18">vertical_align_top</span></button>
      <button class="btn1 cBlue" data-fn="scrollBottom" title="Bottom"><span class="icn md-18">vertical_align_bottom</span></button>
    </div>
  </footer>
</div>

<div class="modal" data-modal="containerInspect">
  <header>
    <div class="header-title">Container Details</div>
    <div class="header-controls">
      <button class="btn1 icn" data-fn="modalClose">clear</button>
    </div>
  </header>
  <section>
    <div class="pre json"></div>
  </section>
  <footer>
    <div class="footer-controls">
      <button class="btn1 cBlue" data-fn="refresh" title="Refresh"><span class="icn md-18">refresh</span></button>
      <button class="btn1 cBlue" data-fn="scrollTop" title="Top"><span class="icn md-18">vertical_align_top</span></button>
      <button class="btn1 cBlue" data-fn="scrollBottom" title="Bottom"><span class="icn md-18">vertical_align_bottom</span></button>
    </div>
  </footer>
</div>
