<div data-value="volumesTable"></div>
<div class="w3-bar table-controls">
  <button class="btn btn3 left" data-group="volume" data-fn="prune"><span class="icn left material-icons md-18">delete_sweep</span><span class="content">Prune</span></button>
  <button class="btn btn2 left" data-group="volume" data-fn="inspect"><span class="icn left material-icons md-18">info_outline</span><span class="content">Inspect</span></button>
  <button class="btn btn1 left" data-group="volume" data-fn="remove"><span class="icn left material-icons md-18">clear</span><span class="content">Remove</span></button>
</div>
