<div class="mod" data-mod="volumes">
  <header data-header="mod">
    <div class="header-title">Volumes</div>
    <div class="header-controls">
      <div class="badge str">
        <span data-value="total" title="Total Volumes"></span>
      </div>
      <button class="btn1" data-fn="togglePause" title="Toggle Pause"><span class="icn md-18"></span></button>
      <button class="btn1 icn" data-fn="toggleCollapse" title="Toggle Collapse"><span class="icn md-24"></span></button>
    </div>
  </header>
  <section><div data-table="volumes"></div></section>
  <footer>
    <div class="footer-controls">
      <button class="btn1 str cBlue" title="Prune All Volumes"><span class="icn md-18">delete_sweep</span></button>
      <button class="btn1 str cGreen" title="Inspect Volume"><span class="icn md-18">search</span></button>
      <button class="btn1 str cRed" title="Remove Volume"><span class="icn md-18">clear</span></button>
    </div>
  </footer>
</div>
